*

!.gitignore
!README.md
!LICENSE

!packer/
!packer/**
packer/**/bin
packer/**/bin/**

!.github/
!.github/**

!demo/
!demo/**
demo/**/vendor
demo/**/*.zip

!sdk/
!sdk/**
sdk/**/dist/
sdk/**/dist/**

# Re-ignore Python cache and build artifacts
__pycache__/
__pycache__/**
*.pyc

*.egg-info/
*.egg-info/**

**/cache/**